<div class="container signup__container">
    <div class="strip__container">
        <div class="skew__container">
            <div class="strip__box1">
            </div>
            <div class="strip__box2">
            </div>
            <div class="strip__box3">
            </div>
            <div class="strip__left">
            </div>
            <div class="strip__topright">
            </div>
            <div class="strip__right">
            </div>
            <div class="strip__small">
            </div>
        </div>
    </div>
    <div class="signup__form">
        <form [formGroup]="registerFromGroup" (ngSubmit)="onSubmit()">

            <div class="signup__box">
                <h1>Sign Up</h1>
                <input formControlName="firstName" type="text" placeholder="First Name" />
                <br />
                <input formControlName="lastName" type="text" placeholder="Last Name" />
                <br />
                <input formControlName="email" type="text" placeholder="Email Address" />              
                <span style="color:red;" *ngIf="email && email.invalid && email.touched"> Please enter a valid
                    email</span>
                <br />
                <input formControlName="username" type="text" placeholder="New Username" />
                <br />
                <input formControlName="password" id="password" name="password" type="password"
                    placeholder="New Password" />
                <span style="color:red;" *ngIf="password && password.invalid && password.touched"> Please enter a valid
                    password</span>
                <br />
                <input formControlName="displayName" type="text" placeholder="New Nametag" />
                <br />
                <input formControlName="street" type="text" placeholder="Address" />
                <br />
                <input formControlName="city" type="text" placeholder="City" />
                <br />
                <input formControlName="state" type="text" placeholder="State" />
                <br />
                <input formControlName="zipCode" type="text" placeholder="Zip Code" />


                <div class="btn__container">
                    <!-- <button [disabled]="registerFromGroup.invalid"  class="btn btn-primary">Sign up</button> -->
                    <button [disabled]="registerFromGroup.invalid" type="submit" class="btn btn-primary">Sign
                        up</button>
                    <!-- "type="submit" -->
                </div>

            </div>
        </form>
        <div class=iconcontainer>
            <div class=houseicon>
                <a routerLink="/about"><i class="bi bi-house"></i></a>
            </div>
        </div>
    </div>
</div>