.about__container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 5%;
    background-color: #FFFFFF;
    height: 100%;
}

header{
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 56px;
}
.headernav_btn{
    background-color: transparent;
    color: var(--color-white);
    font-size: 16px;
}
.headernav_btn:hover{
    transition: var(--transition-100);
    color: var(--color-light);
}
.mobile__nav{
    display: none;
}
.about__logo{
    font-family: var(--fonts-logo);
    font-weight: var(--fonts-black);
    font-size: 25px;
    margin-left: 10%;
    color: white;
}
.about__logo:hover{
    transition: var(--transition-100);
    color: var(--color-light);
}
.aboutheader__btn{
    margin-right: 150px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.301);
    color: var(--color-white);
    border-radius: 16.5px;
    font-size: 16px;
}

.aboutheader__btn:hover{
    transition: var(--transition-100);
    background-color: rgba(255, 255, 255, 0.631);
    color: var(--color-light)
}

.headernav__list{
    display: flex;
    justify-content: space-between;
    gap: 10%;
}

.about__hero-img__container{
    position: relative;
    top: 0;
    background-size: cover;
    background-image: linear-gradient(to top,rgba(255, 255, 255, 0.338), rgba(0, 0, 0, 0.741)),
    url(../../../assets/about-heroimg.avif);
    height: 500px;
    overflow: hidden;
}

.about__content{
    z-index: 1;
    margin-top: -8%;
}
.hero-text{
    margin-left: 15%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: 80px 1fr;
}
.title__container{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-top: 5%;
}
.about__section > .about__title > h1{
    color: var(--color-black);
    font-size: 30px;
    font-family: var(--fonts-hero);
}
.about__section > .about__title > h6{
    color: var(--color-primary);
    font-size: 20px;
    font-family: var(--fonts-hero);
    font-weight: 400;
    
}
.paragraph__container{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-top: 5%;
    padding-bottom: 10%;
    font-family: var(--fonts-hero);
    color: var(--color-black);
    font-size: 20px;

}

.start-btn,.contact-btn{
    margin-top: 20px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 5px;
    backdrop-filter: blur(15px);
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 16.5px;
    font-size: 16px;
}
.start-btn:hover,.contact-btn:hover{
    transition: var(--transition-100);
    filter:  brightness(130%) ;
    color: var(--color-light);
}



.custom-shape-divider-bottom-1668032691 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(182deg);
}

.custom-shape-divider-bottom-1668032691 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 294px;
}

.custom-shape-divider-bottom-1668032691 .shape-fill {
    fill: #FFFFFF;
}

.arrow{
    fill: var(--color-primary);
}
.social__container{
    margin-bottom: 3%;
    display: grid;
    grid-template-rows: 20px,1fr;
    grid-template-columns: 2fr 1fr;
}
.arrow__container{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}
.social-icon__container{
    margin-top: 90px;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3,1fr);
    margin-left: 19%;
}
.social__title,.social__title__container{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    
}
.bi-facebook{
    fill: #3B5998;
}
.bi-whatsapp{
    fill: #25D366;
}
.bi-instagram{
    fill: #833AB4;
}
.bi-snapchat{
    fill: rgb(255, 123, 0);
}
.bi-twitter{
    fill:#1DA1F2;
}
.bi-wechat{
    fill: #09B83E;
}
svg{
    width: 100%;
    height: auto;
}

.social{
    height: 150px;
    width: 150px;
}
.social:hover{
    border-style: solid;
    border-color: var(--color-primary);
    border-width: 5px;
}
.about__footer{
    background-color: var(--color-primary);
    height: 300px;
    margin-top: 9%;
    text-align: center;
}
.footer__logo{
    font-family: var(--fonts-logo);
    font-weight: var(--fonts-black);
    position: relative;
    top: 180px;
    font-size: 20px;
    color: white;
}
.footer__logo:hover{
    color: var(--color-light);
}
.footer__copyright{
    position: relative;
    top: 200px;
    color: white;
    
}
.hero-img-overlay-text{
    margin-left: 15%;
}

.hero-img-overlay-text > h6{
    color: var(--color-primary);
    font-family: var(--fonts-hero);
    font-size: 30px;
}
.hero-img-overlay-text > h1{
    color: var(--color-white);
    font-family: var(--fonts-hero);
    font-size: 80px;
}

.problem__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 1fr;
}
.problem__text__container{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    padding-right: 25%;
    margin-top: 26%;
}
.problem__title__container{
    margin-left: 31%;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}
.questionmark__container{

    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

.resources__container{
    margin-top: -5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.resources__title__container{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}
.resources__text__container{
    margin-left: 30%;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}
/* cards grid */
.resources__cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
}
/* card styles */
.resources__card{
    background-color: var(--color-primary);
    border: 1px solid transparent;
    border-radius: 1rem;
    box-shadow: 0px 10px 20px -5px var(--grayishBlue);
    padding: 2rem;
    text-align: center;
}
.resources__card:hover{
    background: var(--color-primary);
    color: white;
    border-color: var(--color-primary-variant);
    transition: var(--transition);
    cursor: default;
}
.resources__card h5{
    font-size: 0.95rem;
}
.resources__card small{
    font-size: 0.7rem;
}
.questionmark{
    fill: var(--color-primary);
}
/* MEDIA QUERIES */


/* MD DEVICES */
@media screen and (max-width:1024px) {
    
    .about__hero-img__container{
        height: 330px;
    }
    .custom-shape-divider-bottom-1668032691 svg {
        height: 194px;
    }
    .aboutheader__btn{
        margin-right: 30px;
    }
    .about__logo{
        margin-left: 7%;
    }
    .hero-text{
        margin-left: 10%;
        grid-template-rows: 120px 1fr;
    }
    .social__title__container{
        margin-right: 119px;
    }
    .resources__container{
        margin-top: 30px;
    }

}

/* SM DEVICES */

@media screen and (max-width:600px) {
    .about__container{
        margin: 0;
    }
    .about__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .about__title{
        text-align: center;
    }
    .hero-text{
        margin-top: -11%;
        margin-left: 11%;
        margin-right: 10%;
        grid-template-columns: 1fr;
        margin-bottom: 5%;
    }
    .social__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--color-bg-variant);
    }
    .social__title__container{
        grid-column-start: 1;
        grid-column-end: 2;
        margin: 0;
        margin-left: 10px;
        margin-right: 10px;
        padding: 0;
        
    }
    .arrow__container{
        display: none;
    }
    .social-icon__container{
        width: 200px;
        margin: 0;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-template-columns: 100px 100px;
    }
    .social{
        width: 100px;
        height: 100px;
    }
    .problem__container{
        
        display: flex;
        flex-direction: column;
    }
    .problem__title__container{
        margin: 0;
        padding: 0;
        padding-left: 10px;
        padding-right: 10px;
    }
    .problem__text__container{
        margin: 0;
        padding-top: 10px;
        padding-left: 50px;
        padding-right: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .questionmark__container{
        display: none;
    }
    .hero-img-overlay-text > h1{
        padding-right: 200px;
        font-size: 35px;
    }
    .hero-img-overlay-text > h6{
        font-size: 17px;
        padding-right: 200px;
    }

    .headernav__list{
        display:none;
    }
    .headernav__list{
        flex-direction: column;
    }
    .aboutheader__ctaNav{
        display: none;
    }
    .about__header{
        margin-top: 5%;
        display: flex;
        justify-content: space-between;
        margin-right: 15%;
    }
    .mobile__nav{
        display: block;
        width: 20px;
        height: 20px;
        margin-top: -10px;
    }
    .menu-svg{
        fill: var(--color-white);
    }
    .menuButton{
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 10px;
        backdrop-filter: blur(15px);
        background-color: rgba(255, 255, 255, 0.301);
        border-radius: 16px;
    }

    
    .resources__container{
        display: flex;
        flex-direction: column;
        background-color: var(--color-bg-variant);
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .resources__cards{
        margin-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .resources__text__container{
        margin: 0;
    }
    .mobile__nav__modal{
        border-color: #f6f9fb;
        border-width: 2px;
        border-style: solid;
        z-index: 2;
        display: grid;
        background-color: var(--color-white);
        width: 94%;
        position: absolute;
        top: 2%;
        left: 3%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
    }
    .logocontianer{
        display: flex;
        justify-content: space-between;
        background-color: var(--color-bg-variant);
        height: 55px;
        margin: 0;
        border-radius: 10px;
    }
    .logocontianer > h1{
        font-family: var(--fonts-logo);
        font-weight: var(--fonts-black);
        font-size: 25px;
        margin-left: 3%;
        margin-top: 3%;
        color: var(--color-primary);
    }
    .exit-btn__container{
        width: 50px;
    }
    .mobileaboutnavbtn__container{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background-color: var(--color-bg-variant);
        height: 60px;
        margin: 5px;
        
    }
    .mobile__nav__header-btn{
        margin: 0;
        margin-top: 10px;
        background-color: var(--color-primary);
    }
    .mobile__nav__header-btn:hover{
        background-color: var(--color-primary-variant2);
        filter: opacity(200%);
    }
    .mobile__nav__list{
        display: flex;
        flex-direction: column;
        gap: 0%;
        padding-bottom: 100px;
    }
    .mobile_headernav__nav__item{
        margin-top: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px var(--color-bg-variant);
        border-style:dashed;
        padding-left: 20px;
        padding-right: 20px;
    }
    .headernav__nav__btn{
        background-color: transparent;
        font-size: 20px;
        font-weight: 500;
        margin-top: 10px;
    }
    .headernav__nav__btn:hover{
        color: #ababab;
    }

    .paragraph__container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    

}