<div class="container account__container">
    <!--
        <p>hi, {{ user.firstName }}</p>
        <p>{{ user.state }}</p>
        <p>it works</p>
        <button type="button" (click)="signout()" >Sign out</button>
    -->

    <div class="sidebar">
        <div class="side-nav-logo-content">
            <div class="side-nav-logo">
                <div class="side-nav-logoname-div" ><span class="side-nav-logo-bold">Foody</span></div>
            </div>
            
            <i class="bi bi-list" id="sid-nav-btn" (click)="toggle()"></i>
        </div>
        <ul class="side-nav-list">
            

            <li>
                <i class="bi bi-search" id="sid-nav-btn" (click)="toggle()"></i>
                <input type="text" placeholder="Search...">

                <span class="tooltip">Search</span>
                
            </li>

            <li>
                <a routerLink="/about" >
                    <i class="bi bi-house-door"></i>
                    <span class="links_name">Home</span>
                </a>

                <span class="tooltip">Home</span>

                
            </li>

            <li>
                <a routerLink="/explore">
                    <i class="bi bi-grid" ></i>
                    <span class="links_name">Explore</span>
                </a>

                <span class="tooltip">Explore</span>

                
            </li>
            
            <li>
                <a routerLink="/account/dashboard">
                    <i class="bi bi-person" id="sid-nav-btn"></i>
                    <span class="links_name">User</span>
                </a>
                <span class="tooltip">User</span>
                
            </li>
            <li>
                <a>
                    <i class="bi bi-chat" id="sid-nav-btn"></i>
                    <span class="links_name">Messages</span>
                </a>
                <span class="tooltip">Messages</span>
                
            </li>
            <li>
                <a>
                    <i class="bi bi-heart" id="sid-nav-btn"></i>
                    <span class="links_name">Liked</span>
                </a>
                <span class="tooltip">Liked</span>
                
            </li>
            <li>
                <a routerLink="/account/visited">
                    <i class="bi bi-compass" id="sid-nav-btn"></i>
                    <span class="links_name">Visited</span>
                </a>
                <span class="tooltip">Visited</span>
                
            </li>
            <li>
                <a>
                    <i class="bi bi-file-text" id="sid-nav-btn"></i>
                    <span class="links_name">Rated</span>
                </a>
                <span class="tooltip">Rated</span>
                
            </li>
            <li>
                <a>
                    <i class="bi bi-gear" id="sid-nav-btn"></i>
                    <span class="links_name">Setting</span>
                </a>
                <span class="tooltip">Setting</span>
                
            </li>
        </ul>
        
        <div class="profile_content">
            <div class="profile">
                <div class="profile_details">
    
                    <img src="../../../assets/accountplaceholder.jpg" alt="" style="background-color: white">

                    <div class="name_since">
                        
                        <div class="name">
                            
                        <p> {{ user.firstName }} {{user.lastNameInit}}</p>
                        
                        </div>
                        <div class="since">
                        
                        <p> Member Since: {{ user.memberSince }}</p>
                        
                        </div>
                    </div>
                    
                </div>
                <i class="bi bi-box-arrow-left" id="log_out" (click)="signout()"></i>
            </div>
        </div>

        
        
    </div>

    <div class="display_content">
        <router-outlet></router-outlet>
    </div>

    
</div>
